	<header>
		<div class="cd-dropdown-wrapper">
			<a class="cd-dropdown-trigger" href="#0"><%- __('HISTORICAL TIMELINE') %></a>
			<nav class="cd-dropdown">
				<h2>Title</h2>
				<a href="#0" class="cd-close">Close</a>
				<ul class="cd-dropdown-content">
					<li class="has-children">
						<a href="<%- contextPath %>/<%- resourceSlugs['periods'] %>"><%- __('Historical Periods') %></a>

						<ul class="cd-dropdown-gallery is-hidden">
							<li class="go-back"><a href="#0">Menu</a></li>
							<li class="see-all"><a href="<%- contextPath %>/<%- resourceSlugs['periods'] %>"><%- __('Browse all periods') %></a></li>
							<% navigation.periods.forEach(function(period) { %>
							<li>
								<a class="cd-dropdown-item" href="<%- contextPath %>/<%- resourceSlugs['period'] %>/<%- period.slug %>">
									<img src="<%- contextPath %>/assets/megamenu/img/img.png" alt="Period Image">
									<h3><%- period.title %></h3>
								</a>
							</li>
							<% }); %>
						</ul> <!-- .cd-dropdown-gallery -->
					</li> <!-- .has-children -->

					<li class="has-children">
						<a href="<%- contextPath %>/<%- resourceSlugs['facts'] %>"><%- __('Historical Facts') %></a>
						<ul class="cd-dropdown-icons is-hidden">
							<li class="go-back"><a href="#0">Menu</a></li>
							<li class="see-all"><a href="<%- contextPath %>/<%- resourceSlugs['facts'] %>"><%- __('Browse all facts') %></a></li>
							<li>
								<a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">
									<h3>Service #1</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">
									<h3>Service #2</h3>
									<p>This is the item description</p>
								</a>
							</li>
						</ul> <!-- .cd-dropdown-icons -->
					</li> <!-- .has-children -->

					<li class="has-children">
						<a href="<%- contextPath %>/<%- resourceSlugs['figures'] %>"><%- __('Historical Figures') %></a>
						<ul class="cd-dropdown-icons is-hidden">
							<li class="go-back"><a href="#0">Menu</a></li>
							<li class="see-all"><a href="<%- contextPath %>/<%- resourceSlugs['figures'] %>"><%- __('Browse all figures') %></a></li>
							<li>
								<a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">
									<h3>Service #1</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">
									<h3>Service #2</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">
									<h3>Service #3</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">
									<h3>Service #4</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">
									<h3>Service #5</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">
									<h3>Service #6</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">
									<h3>Service #7</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-8" href="http://codyhouse.co/?p=748">
									<h3>Service #8</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-9" href="http://codyhouse.co/?p=748">
									<h3>Service #9</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-10" href="http://codyhouse.co/?p=748">
									<h3>Service #10</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-11" href="http://codyhouse.co/?p=748">
									<h3>Service #11</h3>
									<p>This is the item description</p>
								</a>
							</li>

							<li>
								<a class="cd-dropdown-item item-12" href="http://codyhouse.co/?p=748">
									<h3>Service #12</h3>
									<p>This is the item description</p>
								</a>
							</li>

						</ul> <!-- .cd-dropdown-icons -->
					</li> <!-- .has-children -->

					<li class="cd-divider">Divider</li>

					<li><a href="http://codyhouse.co/?p=748">Page 1</a></li>
					<li><a href="http://codyhouse.co/?p=748">Page 2</a></li>
					<li><a href="http://codyhouse.co/?p=748">Page 3</a></li>
				</ul> <!-- .cd-dropdown-content -->
			</nav> <!-- .cd-dropdown -->
		</div> <!-- .cd-dropdown-wrapper -->
	</header>