<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<%- include('../partials/header.style.ejs') %>

    <link rel="stylesheet" type="text/css" href="<%- contextPath %>/assets/htimeline/css/timeline.css">
    <title><%- __('Historical Fact') %>: <%- fact.name %> | <%- __('HISTORICAL TIMELINE') %></title>
  </head>

  <body>
<%- include('../partials/header.ejs') %>

    <div><h1>History's timelines</h1></div>
    <div id="timeline"></div>

<%- include('../partials/header.script.ejs') %>
    <script src="<%- contextPath %>/assets/htimeline/js/timeline.js"></script>
    <script>

window.onload = function () {

plays = <%- JSON.stringify(fact.events, null, 2); %>;
timelineData = {
    headline: "Chronology of Shakespeare's Plays",
    type: "default",
    date: []
};
plays.forEach(function(play) {
    var start = play.date;
    var end = "";
    if (play.date.indexOf("-") !== -1) {
        var dates = play.date.split("-");
        start = dates[0];
        end = dates[1];
    }
    timelineData.date.push({
        startDate: start,
        endDate: end,
        headline: play.play,
        text: play.evidence,
        tag: play.genre,
        asset: {
            media: play.media,
            credit: play.credit,
            caption: play.caption
        }
    });
});
timelineConfig = {
        type:       'timeline',
        width:      '100%',
        height:     '580',
        source:     {timeline: timelineData},
        embed_id:   'timeline'
};
timelinejs = new VMM.Timeline('timeline','100%','580px');
timelinejs.init(timelineConfig);

}
    </script>
  </body>
</html>