<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<%- include('../partials/header.style.ejs') %>

	<link rel="stylesheet" href="<%- contextPath %>/assets/vtimeline/css/style.css"> <!-- Resource style -->
	<script src="<%- contextPath %>/assets/vtimeline/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title><%- __('Historical Figure') %>: <%- figure.name %> | <%- __('HISTORICAL TIMELINE') %></title>
</head>
<body>
<%- include('../partials/header.ejs') %>

	<main class="cd-main-content">
	</main>

<%- include('../partials/header.script.ejs') %>
</body>
</html>
