<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<%- include('../partials/header.style.ejs') %>
  <link rel="stylesheet" type="text/css" href="<%- contextPath %>/assets/timelinejs/css/timeline.css">
  <link rel="stylesheet" type="text/css" href="<%- contextPath %>/assets/timelinejs/css/custom.css">
  <link rel="stylesheet" type="text/css" href="<%- contextPath %>/assets/timelinejs/css/fonts/font.bevan-potanosans.css?v1">
  <title><%- __('Historical Figure') %>: <%- figure.name %> | <%- __('HISTORICAL TIMELINE') %></title>
</head>

<body>
<%- include('../partials/header.ejs') %>
  <div id="timeline"></div>
<%- include('../partials/header.script.ejs') %>
  <script src="<%- contextPath %>/assets/timelinejs/js/timeline.js"></script>
  <script>
    var timeline = new TL.Timeline('timeline', '<%- contextPath %>/data/figure/<%- figure.slug %>/timeline.json', {
      is_embed: true
    });
  </script>
</body>
</html>
