<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<%- include('../partials/header.style.ejs') %>

	<link rel="stylesheet" href="<%- contextPath %>/assets/vtimeline/css/style.css"> <!-- Resource style -->
	<script src="<%- contextPath %>/assets/vtimeline/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title><%- __('Historical Figure') %>: <%- figure.name %> | <%- __('HISTORICAL TIMELINE') %></title>
</head>
<body>
<%- include('../partials/header.ejs') %>

	<main class="cd-main-content">
	<h1><%- figure.name %></h1>
	<div><%- figure.description %></div>
	<img src="/filestore/picture/<%- figure.picture %>/600/450">
	<% if (figure.events && figure.events.length > 0) { %>
	<hr/>
	<h1>Events</h1>
	<ul>
		<% figure.events.forEach(function(event) { %>
		<li><%- JSON.stringify(event) %></li>
		<% }) %>
	</ul>
	<% } %>
	</main>

<%- include('../partials/header.script.ejs') %>
</body>
</html>
